<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IService1" />
              <binding name="NamedPipeBinding1" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/WcfService1/IService1/Service1"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IService1"
                contract="Service1Reference.IService1" name="NetNamedPipeBinding_IService1">
                <identity>
                    <userPrincipalName value="v-manngu@northamerica.corp.microsoft.com" />
                </identity>
            </endpoint>
        </client>
      <services>
        <service name="WcfClient1.Service1" behaviorConfiguration="DefaultBehavior" >

          <endpoint address="Service1" binding="netNamedPipeBinding" contract="WcfClient1.IService1">
          </endpoint>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="net.pipe://localhost/WcfClient1/IService1" />
              <add baseAddress="http://localhost:8081/WcfClient1/IService1" />
              <!--<add baseAddress="net.tcp://localhost:8090" />-->
            </baseAddresses>
          </host>
        </service>
      </services>

      <behaviors>
        <serviceBehaviors>
          <behavior name="DefaultBehavior">
            <serviceDebug includeExceptionDetailInFaults="true"/>
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      
    </system.serviceModel>
</configuration>